In [3]:
from pyspark.sql import SparkSession
spark = SparkSession .\
builder .\
appName("Abhi-Basic Interview Question") .\
getOrCreate()

In [4]:
spark

In [6]:
orders_data = [(1,'Customer1','2023-01-10',100),
(2,'Customer2','2023-01-11',150),
(3,'Customer1','2023-01-12',80),
(4,'Customer3','2023-01-12',200),
(5,'Customer2','2023-01-13',50)]

In [12]:
orders_schema = 'order_id int, customer_name string,order_date string,revenue int'

In [68]:
orders_df = spark.createDataFrame(orders_data,orders_schema)

In [72]:
orders_df.select(lower(orders_df.customer_name))

+--------------------+
|lower(customer_name)|
+--------------------+
|           customer1|
|           customer2|
|           customer1|
|           customer3|
|           customer2|
+--------------------+

In [14]:
orders_df.show()

+--------+-------------+----------+-------+
|order_id|customer_name|order_date|revenue|
+--------+-------------+----------+-------+
|       1|    Customer1|2023-01-10|    100|
|       2|    Customer2|2023-01-11|    150|
|       3|    Customer1|2023-01-12|     80|
|       4|    Customer3|2023-01-12|    200|
|       5|    Customer2|2023-01-13|     50|
+--------+-------------+----------+-------+

In [62]:
## Get Total Revenue
from pyspark.sql.functions import *
orders_df.agg(sum("revenue").alias("Total_revenue")).show()

+-------------+
|Total_revenue|
+-------------+
|          580|
+-------------+

In [63]:
## Highest Value Order
orders_df.agg(max("revenue")).show()

+------------+
|max(revenue)|
+------------+
|         200|
+------------+

In [67]:
## Top-Spending Customer.alias("total_revenue").
from pyspark.sql.functions import *
orders_df.groupBy("customer_name").agg(sum(orders_df.revenue).alias("revenue")).orderBy("revenue",ascending=False).limit(1).show()

+-------------+-------+
|customer_name|revenue|
+-------------+-------+
|    Customer2|    200|
+-------------+-------+

In [31]:
## Order Count per Customer
orders_df.groupBy("customer_name").count().show()

+-------------+-----+
|customer_name|count|
+-------------+-----+
|    Customer1|    2|
|    Customer3|    1|
|    Customer2|    2|
+-------------+-----+