In [1]:
from pyspark.sql import *

In [2]:
spark = SparkSession.builder.getOrCreate()

empid@|empname@|salary
1@|abhisai@|1000
2@|emp1@|10030
3@|sai@|2200

In [3]:
df = spark.read.format("csv").option("header","true").option("sep","@|").load("/user/itv007180/text1.txt")

In [4]:
df.show()

+-----+-------+------+
|empid|empname|salary|
+-----+-------+------+
|    1|abhisai|  1000|
|    2|   emp1| 10030|
|    3|    sai|  2200|
+-----+-------+------+